<footer class="footer">
  <div class="container">
    <div class="row">
    <hr>
      <div class="col-lg-12">
        <div class="col-md-8">
          <a href="https://www.linkedin.com/in/kyle-shumway/">Find me on LinkedIn</a>
        </div>
        <div class="col-md-4">
          <p class="muted pull-right">Email | shumway.kyle@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</footer>
