<div class="container">
  <br>
  <div style="background-color:#2196F3;color:white" class="jumbotron panelTron">
    <h1 class="display-3">Kyle Shumway</h1>
    <p class="lead">I am a hardworking, skilled Coding student who is able to work under pressure and mechanically inclined. </p>

  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Education &amp; Certificates </h4>
      <ul>
        <li>Start @West-MEC Coding: May 2017</li>
        <li>Verrado High School: May 2017</li>
        <li>CIW JavaScript Specialist: May 2017</li>
      </ul>

      <h4>Languages</h4>
      <ul>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>PHP</li>
        <li>SQL</li>
      </ul>
    </div>

    <div class="col-lg-6">
      <h4>Main Frameworks</h4>
      <ul>
        <li><strong>NodeJS</strong> - Utilized NodeJS to build applications with various modules and components</li>
        <li><strong>NPM</strong> - Used NPM to install various JavaScript Frameworks to add more functionality to web apps and other projects.</li>
        <li><strong>AngularJS</strong> - Used AngularJS to build a dynamic form that would validate user input while it was being utilized</li>
        <li><strong>ReactJS</strong> - Touched ReactJS to build a UI for a web app.</li>
        <li><strong>ExpressJS</strong> - Used Express to jumpstart application development and used the Express-Router package to help create routing and controllers between each of our pages</li>
        <li><strong>SailsJS</strong> - Used Sails to branch off  of Express and build a reactive webpage using EJS instead of HTML</li>
        <li><strong>Mongoose</strong>- Used Mongoose to build web apps that could connect to a MongoDB</li>
      </ul>
    </div>
  </div>


  <div class="container text-center">
    <div class="">
    <div>

      <!-- Welcome -->
      <h3>Project Showcase </h3>
<h4>This is a showcase of my coding projects!</h4>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card projectCards">
        <div style="background-color:#2196F3;color:white" class="card-block">
          <h4 class="card-title">Twitter Bot</h4>
          <h6 style="color:#BBDEFB" class="card-subtitle mb-2">EJS, OAuth, &amp; Node</h6>
          <p class="card-text">Developed a twitter bot using twitters api to create a list of current users
            and add functionality to keep notes on them.</p>
          <a style="color:#BBDEFB" href="/projects/randRoom">Live </a><span>|</span>
          <a style="color:#BBDEFB" href="" class="card-link">Github</a>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card projectCards">
        <div style="background-color:#2196F3;color:white;" class="card-block">
          <h4 class="card-title">RandRoom</h4>
          <h6 style="color:#BBDEFB" class="card-subtitle mb-2 ">Socket.io, Express, &amp; Node</h6>
          <p class="card-text">Developed a chatroom app in order to show mastery of node
                               and developing using unfamiliar packages.</p><br>
          <a style="color:#BBDEFB;" href="/projects/randRoom">Live </a><span>|</span>
          <a style="color:#BBDEFB;" href="https://github.com/shumway-kyle-wm/RandRoom" class="card-link">Github</a>
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card projectCards">
        <div style="background-color:#2196F3;color:white;" class="card-block">
          <h4 class="card-title">Form Validation</h4>
          <h6 style="color:#BBDEFB;" class="card-subtitle mb-2 ">Angular &amp; Forms</h6>
          <p class="card-text">Made a simple form page that shows off ability to use angular to style and validate
            form data </p><br>
          <a style="color:#BBDEFB;" href="/projects/randRoom">Live </a><span>|</span>
          <a style="color:#BBDEFB" href="https://github.com/shumway-kyle-wm/angularFormValidation" class="card-link">Github</a>
        </div>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>
